.createTodo {
    margin-bottom: 1.5rem;
}

.createTodo__form_input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.createTodo__form_input input {
    border: none;
    width: 100%;
    padding: 1.25rem 4.5rem 1.25rem 4.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    background: var(--color-bg-card);
    box-shadow: var(--box-shadow);
    border-radius: .313rem;
    color: var(--font-color-input);
    caret-color: var(--font-color-accent);
}

.createTodo__form_input-check {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 1.5rem;
    border: 1px solid var(--color-bg-border);
    border-radius: 50%;
}

.createTodo__form button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    opacity: 0;
}

.createTodo:hover > .createTodo__form button {
    opacity: 1;
}
@media screen and (max-width:991px) {
    .createTodo__form button {
        opacity: 1;
    }
}