.linkBack {
    display: flex;
    align-items: flex-start;
    gap: 1ch;
    color: var(--font-color-title);
    text-decoration: underline;
    font-style: italic;
    margin-bottom: .5rem;
}

.linkBack:hover {
    color: var(--font-color-accent);
}