body {
    background: var(--color-bg-main);
    background-image: var(--bg-image-url);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    margin-inline: auto;
    margin-bottom: 4.375rem;
    width: 540px;
    max-width: 100%;
}

.drag_over {
    background-color: var(--color-bg-dragover);
}

.drag_insert_top {
    margin-top: 1rem;
}

.drag_insert_bottom {
    margin-bottom: 1rem;
}

.swal-text {
    color: var(--font-color-body) !important;
}

.swal-bg {
    background-color: var(--color-bg-card) !important;
}

.swal-btn-conf {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-bg-btn) !important;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--font-color-btn);
    cursor: pointer;
}

@media screen and (max-width:991px) {
    :root[data-theme="light"] {
        --bg-image-url: url('./assets/bg-mobile-light.jpg');
    }
    
    :root[data-theme="dark"] {
        --bg-image-url: url('./assets/bg-mobile-dark.jpg');
    }
}

@media screen and (max-width:768px) {
    * {
        font-size: 12px;
    }
    .container {
        margin-inline: 1.5rem;
        width: auto;
    }
}