.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.header__logo {
    padding-inline: 3.5rem;
    cursor: pointer;
}

.header__decoration {
    position: relative;
    height: 10px;
    width: 100%;
}

.header__decoration::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: calc(100% + 1.875rem);
    background: rgba(var(--font-color-main), .25);
    z-index: 1;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    padding-inline: 7.75rem 10.25rem;
    background: rgba(255, 255, 255, .04);
    backdrop-filter: blur(80px);
}