.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.header__logo {
    padding-inline: 3.5rem;
    cursor: pointer;
}

.header__navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    padding-inline: 7.75rem 10.25rem;
    background: rgba(255, 255, 255, .04);
    backdrop-filter: blur(80px);
}

.header__navbar::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% - 1.875rem);
    transform: translateY(-50%);
    height: 1px;
    width: 55%;
    background: rgba(var(--font-color-main), .25);
}