@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --font-main: 'IBM Plex Sans', sans-serif;
    --color-cyan: #66e2dc;
    --color-orange-dark: #fa7453;
    --color-orange-light: #ffb964;
    --color-light: #fcfaf9;
    --color-dark: #191826;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-image: url(assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: -400px -220px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.logo {
    cursor: pointer;
}

/* TYPOGRAPHY ----------> */

h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
    margin-bottom: 1.375rem;
}

.body1 {
    font-size: 1.25rem;
    line-height: 2.125rem;
    font-weight: 400;
}

.body2 {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
}

/* BUTTONS ----------> */

.btn {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    width: 100%;
    max-width: 330px;
    padding: 1rem 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.btn-light {
    background: var(--color-light);
    color: var(--color-dark);
}

.btn-light:hover {
    background: var(--color-orange-light);
}

.btn-dark {
    background: var(--color-dark);
    color: var(--color-light);
}

.btn-dark:hover {
    background: var(--color-cyan);
    color: var(--color-light);
}

.btn img {
    display: inline;
    vertical-align: text-top;
    margin-right: 1rem;
}

/* HEADER ----------> */

header {
    padding: 4rem 0;
    margin-bottom: 4rem;
}


/* MAIN ----------> */

.bg-pattern-img_top {
    position: absolute;
    top: -40px;
    right: 0;
}

.title_block {
    margin-bottom: 20rem;
    padding-right: 15rem;
}

.main_block {
    position: relative;
    width: 100%;
    height: 600px;
    background: var(--color-dark);
    border-radius: 12px;
    margin-bottom: 12.5rem;
}

.phone-img {
    height: 640px;
    position: absolute;
    top: -210px;
    left: 100px;
    z-index: 5;
}

.bg-pattern-img_main {
    position: absolute;
    top: -40px;
    left: 333px;
}

.card {
    position: absolute;
    top: 90px;
    right: 95px;
    background: var(--color-orange-dark);
    color: var(--color-light);
    border-radius: 12px;
    width: 330px;
    padding: 3.5rem 3.5rem 2rem 3.5rem;
    z-index: 50;
}

.card p {
    margin-bottom: 3rem;
}

.card span {
    font-size: 4rem;
    font-weight: 700;
    display: inline;
    vertical-align: middle;
    margin-right: 1rem;
}

/* FOOTER ----------> */

footer {
    display: flex;
    justify-content: flex-start;
    gap: 8.75rem;
    align-items: flex-start;
    padding-bottom: 5.75rem;
}

footer p {
    max-width: 40ch;
}

footer p a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    transition: all 200ms ease-in-out;
}

footer p a:hover {
    color: var(--color-orange-dark);
}

.social_logos {
    margin-left: auto;
    align-self: center;
}

.social_icon:not(:last-child) {
    margin-right: 1.25rem;
}

.social_icon {
    transition: all 200ms ease-in-out;
    display: inline;
    vertical-align: middle;
}

.social_icon:hover {
    cursor: pointer;
    fill: var(--color-orange-dark);
}