.home__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    max-width: 1110px;
    margin-inline: auto;
    margin-bottom: 8.25rem;
}

.home__grid_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1.5rem;
}

.home__grid_content-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--font-color-alt);
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.home__grid_content-title span {
    font-family: var(--font-title);
    font-size: 9.375rem;
}

.home__grid_content-text {
    font-family: var(--font-alt);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--font-color-alt);
    max-width: 450px;
}

.home__grid_explore {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.home__grid_explore-btn {
    position: relative;
    border: none;
    background: rgba(var(--color-bg-btn));
    height: 274px;
    width: 274px;
    border-radius: 50%;
    font-family: var(--font-title);
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--font-color-btn);
    cursor: pointer;
}

.home__grid_explore-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    transition: all 500ms ease-out;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(var(--color-bg-btn), .1);
    z-index: -1;
}

.home__grid_explore-btn:hover.home__grid_explore-btn::after {
    transform: translateY(-50%) translateX(-50%) scale(1.65);
}