@import url( 'https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --font-main: 'Space Mono', monospace;

    --font-color-white: #FFF;
    --font-color-grey: #5E7A7D;
    --font-color-grey-input: #9EBBBD;
    --font-color-green-dark: #00474B;
    --font-color-green-light: #26C2AE;
    --font-color-error: #E17457;

    --color-bg-blue: #C5E4E7;
    --color-bg-white: #FFF;
    --color-bg-grey: #979797;
    --color-bg-grey-input: #F3F9FA;
    --color-bg-green-dark: #00474B;
    --color-bg-green-dark-inactive: #0D686D;
    --color-bg-green-light: #26C2AE;
    --color-bg-green-light-hover: #9FE8DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-bg-blue);
}

::placeholder {
    color: var(--font-color-grey-input);
    opacity: 1;
}

.main-grid {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

input:focus-visible {
    outline: 2px solid var(--font-color-green-light);
    caret-color: var(--font-color-green-light);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
appearance: textfield;
-moz-appearance: textfield;
}

/* HEADER ----------> */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5.5rem;
}

/* MAIN ----------> */

.inner-grid {
    margin: auto;
    background: var(--color-bg-white);
    width: 920px;
    height: 480px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
}

.calculation-grid,
.result-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* CALCULATION SECTION ----------> */

.calculation-grid {
    justify-content: space-between;
    padding: 3rem;
    gap: 2rem;
}

.calculation-grid label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-color-grey);
}

.labeled-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.labeled-input-text {
    display: flex;
    justify-content: space-between;
}

.bill-input input,
.people-input input {
    border: none;
    border-radius: 5px;
    background: var(--color-bg-grey-input);
    font-family: var(--font-main);
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: 700;
    color: var(--font-color-green-dark);
    text-align: end;
    padding: .5rem 1rem;
}

.bill-input,
.people-input {
    position: relative;
}

.bill-input::after,
.people-input::after {
    content: "";
    width: 13px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: 1rem;
}

.bill-input::after {
    background-image: url(images/icon-dollar.svg);
}

.people-input::after {
    background-image: url(images/icon-person.svg);
}

.tip-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tip-select-grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 50px);
    gap: .875rem;
}

.tip-btn {
    border: none;
    border-radius: 5px;
    background: var(--color-bg-green-dark);
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-color-white);
    cursor: pointer;
}

.tip-btn:hover {
    background: var(--color-bg-green-light-hover);
    color: var(--font-color-green-dark);
}

.tip-custom-input {
    border: none;
    border-radius: 5px;
    background: var(--color-bg-grey-input);
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-color-green-dark);
    text-align: end;
    padding-right: 1rem;
}

/* RESULT SECTION ----------> */

.result-grid {
    justify-content: flex-start;
    margin: 2rem;
    background: var(--color-bg-green-dark);
    border-radius: 15px;
}

.result-grid-content {
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.result-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-color-white);
}

.result-text span {
    font-size: 0.8rem;
    color: var(--font-color-grey);
}

.result-amount {
    font-size: 3rem;
    font-weight: 700;
    color: var(--font-color-green-light);
}

.reset-btn {
    margin-top: auto;
    border: none;
    border-radius: 5px;
    background: var(--color-bg-green-light);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    color: var(--font-color-green-dark);
    padding: .5rem 0;
    cursor: pointer;
}

.reset-btn:hover {
    background: var(--color-bg-green-light-hover);
}

/* STATES ----------> */

.hidden {
    display: none;
}

.active {
    background: var(--color-bg-green-light);
    color: var(--font-color-green-dark);
}

.inactive {
    background: var(--color-bg-green-dark-inactive);
    pointer-events: none;
}

.error-text {
    color: var(--font-color-error)!important;
}

.error-input {
    outline: 2px solid var(--font-color-error)!important;
}

/* FOOTER ----------> */

.attribution {
    font-size: .85rem;
    text-align: center;
    margin-bottom: 2rem;
}
.attribution a {
    color: var(--font-color-green-dark);
}

/* MEDIA QUERIES ----------> */

@media screen and (max-width: 991px) {
    .inner-grid {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .main-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .inner-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .calculation-grid {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .tip-select-grid {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(3, 50px);
        justify-content: space-evenly;
    }
    .result-grid {
        margin: 0 0 2rem 0;
        width: calc(100% - 2rem);
    }
    .result-grid-content {
        padding: 2rem 1.5rem;
    }
    .result-amount {
        font-size: 2rem;
    }
}