.header {
    display: flex;
    flex-direction: column;
    margin-top: 4.375rem !important;
    margin-bottom: 2.5rem !important;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--font-color-title);
    text-transform: uppercase;
    letter-spacing: .938rem;
}

#theme_switch {
    appearance: none;
    width: 21px;
    height: 21px;
    background-image: var(--theme-image-url);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.header__userInfo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: flex-end;
    gap: .25rem 0;
    margin-bottom: .5rem;
    color: var(--font-color-title);
    font-style: italic;
}

.header__userInfo p {
    display: flex;
    align-items: flex-end;
}

.header__userInfo a {
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 1ch;
}

.header__userInfo a:hover {
    color: var(--font-color-accent);
}

.header__userInfo button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: 1rem;
    font-style: italic;
    color: var(--font-color-title);
    cursor: pointer;
}

.header__userInfo button:hover {
    color: var(--font-color-accent);
}

@media screen and (max-width:768px) {   
    .header__userInfo {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-bottom: 1.5rem;
    }
    .header__userInfo p {
        grid-column: 1/5;
        align-items: center;
    }
    .header__userInfo a {
        grid-column: 1/3;
    }
    .header__userInfo button {
        grid-column: 3/5;
        margin-left: auto;
    }
}