.todoControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--font-color-body);
    background: var(--color-bg-card);
    padding-block: 1.25rem;
    padding-inline: 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 0 0 .313rem .313rem;
}

.todoControls__count {
    font-size: .875rem;
    font-weight: 400;
    color: var(--font-color-alt);
}

.todoControls__btn {
    display: flex;
    gap: 1.125rem;
}

.todoControls__btn button,
.todoControls__clear button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: .875rem;
    color: var(--font-color-alt);
}

.todoControls__btn button {
    font-weight: 700;
}

.todoControls__btn button:hover,
.todoControls__clear button:hover {
    color: var(--font-color-body);
}

.todoControls .active {
    color: var(--font-color-accent) !important;
}