.todos {
    margin-bottom: 3.125rem;
}

.todos__reorder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--font-color-alt);
}