@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-main: 'Josefin Sans', sans-serif;
    --font-color-accent: #3A7CFD;

    --color-bg-gradient: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

:root[data-theme="light"] {
    --font-color-title: #fff;
    --font-color-alt: #9495a5;
    --font-color-btn: #fff;
    --font-color-body: #494c6b;
    --font-color-body-complete: #d1d2da;
    --font-color-input: #393a4b;

    --color-bg-main: #fafafa;
    --color-bg-card: #fff;
    --color-bg-border: #e3e4f1;
    --color-bg-btn: #494c6b;
    --color-bg-dragover: #fafafa;

    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

    --bg-image-url: url('./assets/bg-desktop-light.jpg');
    --theme-image-url: url(./assets/icon-moon.svg);
}

:root[data-theme="dark"] {
    --font-color-title: #fff;
    --font-color-alt: #5b5e7e;
    --font-color-btn: #c8cbe7;
    --font-color-body: #c8cbe7;
    --font-color-body-complete: #4D5067;
    --font-color-input: #C8CBE7;

    --color-bg-main: #171823;
    --color-bg-card: #25273d;
    --color-bg-border: #393A4B;
    --color-bg-btn: #25273d;
    --color-bg-dragover: #171823;

    --box-shadow: 0px 0px 0px 0px #000;

    --bg-image-url: url('./assets/bg-desktop-dark.jpg');
    --theme-image-url: url(./assets/icon-sun.svg);
}

* {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.25px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}