@import './style.css';

:root {
    --color-bg-body: #141d2f;
    --color-bg-card: #1e2a47;

    --font-color-main: #fff;
    --font-color-main-alt: #fff;
    --font-color-body: #fff;
    --font-color-body-alt: #fff;
    --font-color-hover: #90a4d4;
}

#theme-toggle {
    background-image: url(../../assets/icon-sun.svg);
}

#theme-toggle:hover {
    background-image: url(../../assets/icon-sun-hover.svg);
}

.main__input,
.main__user-card {
    box-shadow: none;
}

.main__user-card_info_links-item::before {
    filter: saturate(0%) contrast(0%) brightness(100);
}

#url-link {
    text-decoration-color: var(--font-color-DM-light);
}

.attribution a {
    color: var(--font-color-hover);
}