*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    color: rgba(var(--font-color-main));
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}